{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <h1 class="m-5 text-center">Event Details</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-md">
                    <img src="{{ event.eventImg }}" class="card-img-top img-fluid" alt="Event Image" style="object-fit: cover; height: 400px !important;">
                    <div class="card-body">
                        <h2 class="card-title">{{ event.eventName }}</h2>
                        <p class="card-text">{{ event.eventDescription }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Date:</strong> {{ event.eventTimeDate ? event.eventTimeDate|date('Y-m-d H:i:s') : '' }}</li>
                        <li class="list-group-item"><strong>Capacity:</strong> {{ event.eventCapacity }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ event.eventEmail }}</li>
                        <li class="list-group-item"><strong>Phone:</strong> {{ event.eventPhoneNumber }}</li>
                        <li class="list-group-item"><strong>Address:</strong> {{ event.eventAdress }}</li>
                        <li class="list-group-item"><strong>URL:</strong> <a href="{{ event.eventUrl }}">{{ event.eventUrl }}</a></li>
                        <li class="list-group-item"><strong>Type:</strong> {{ event.eventType }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('app_events_edit', {'id': event.id}) }}" class="btn btn-primary">Edit Event</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{{ path('app_events_index') }}" class="btn btn-secondary">Back to Events List</a>
            </div>
        </div>
    </div>
{% endblock %}
